{% if config.THEME_SETTINGS.githubID %}
  <a href="https://github.com/{{ config.THEME_SETTINGS.githubID }}" title="GitHub"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{% endif %}
{% if config.THEME_SETTINGS.linkedInID %}
  <a href="https://linkedin.com/in/{{ config.THEME_SETTINGS.linkedInID }}" title="LinkedIn"><i class="fab fa-linkedin fa-3x" aria-hidden="true"></i></a>
{% endif %}
{% if config.THEME_SETTINGS.email %}
  <a href="mailto:{{ config.THEME_SETTINGS.email }}" title="Email"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
{% endif %}
{% if config.THEME_SETTINGS.googleScholar %}
<a href="https://scholar.google.com/citations?user={{ config.THEME_SETTINGS.googleScholar }}" title="GoogleScholar"><i class="fa-brands fa-google-scholar fa-3x" aria-hidden="true"></i></a>
{% endif %}
{% if config.THEME_SETTINGS.resume %}
<a href="{{ 'static/pdfs/resume.pdf' | asseturl }}" title="View Resume"><i class="fa-solid fa-file fa-3x" aria-hidden="true"></i></a>
{% endif %}
