* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #3b4252;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    padding-top: 70px;
    color: #e5e9f0;
}

#green-terminal {
    color: #81a1c1;
}

.font-header {
    font-family: 'Lucida', monospace;
    color: #81a1c1;
}

.font-paragraph {
    font-family: 'Trebuchet MS', sans-serif;
}

nav {
    background-color: #2e3440;
}



h1,h2,h3,h4,h5,h6 {
    font-family: 'Trebuchet MS', sans-serif;
}

#user-name {
    font-size: 2em;
}

.user-description {
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #81a1c1;
    margin-top: 30px;
    margin-bottom: 1em;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
}


.user-profile {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-picture {
    border-style: solid;
    border-width: 5px;
    border-color: #81a1c1;
    margin-top: 20px;
}

i {
    margin: 10px 20px 10px 20px;
    color: #81a1c1;
}

.post-link {
    float: left;
}

.post-date {
    float: right;
}

.post-header {
    background-color: #eceff4;
    overflow: hidden;
    padding: 0 5px 0 5px;
}

.post-summary, .post-content{
    clear: both;
}

.post-summary {
    padding: 0 5px 0 5px;
}

.post-list-footer {
    padding-bottom: 5px;
}

#post-list {
    list-style: none;
    padding-left: 0;
}

.post-list-item {
    margin-top: 20px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #d8dee9;
}

.post-comments {
    padding-top: 10px;
    border-top-style: solid;
}

.wrapper {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: #2e3440;
    color: #e5e9f0;
    display: block;
    width: 100%;
    padding: 10px;
    height: 50px;
}

.push {
    height: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

div p {
    text-align: justify;
}

td {
    margin: 0 20px 0 20px;
}

a:link {
  color: #5e81ac;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #5e81ac;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #b48ead;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #ebcb8b;
  background-color: transparent;
  text-decoration: none;
}
