{% extends "layout.html" %}
{% block content %}
      {% if config.THEME_SETTINGS.profilepicture %}
        <!--  <div class="col-sm-3 col-centered"> -->
          <div class="col-xs-12 d-flex flex-row justify-content-center">
            <!--<img alt="profile-picture" class="img-responsive img-circle user-picture" src="{{ config.THEME_SETTINGS.profilepicture | asseturl }}">-->
              <img alt="profile-picture" class="rounded-circle user-picture" src="{{ config.THEME_SETTINGS.profilepicture | asseturl }}">
          </div>
      {% endif %}
      <div class="row">
        <div class="col-xs-12 user-profile text-center">
          <h1 id="user-name">{{ config.THEME_SETTINGS.name | upper }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 user-description">
          <p style="text-align:center">{{ config.THEME_SETTINGS.about }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 user-social text-center">
          {% include "partials/social.html" %}
        </div>
      </div>

{% endblock content %}
